.highlights {
  .header {
    margin-bottom: 48px;
    display: flex;
    align-items: center;

    .btn {
      margin-left: auto;
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: normal;
  }
}
