section.reserve {
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .control {
    width: 100%;

    [name] {
      width: 100%;
      display: block;
      box-sizing: border-box;
    }

    label {
      display: block;
      font-weight: bold;
    }

    .error {
      font-size: 0.7rem;
      color: red;
    }
  }
}
