@import "src/scss/_variables";

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: normal;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;

  @media (max-width: $breakMd) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $breakSm) {
    grid-template-columns: 1fr 1fr;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
    box-shadow: #33333387 0 0 5px;
  }
}

.stars {
  span {
    color: $gray;
  }

  .yellow {
    color: $yellow;
  }
}

.bio {
  margin: 16px 0;
  display: flex;
  gap: 8px;
  > div {
    font-weight: bold;
    flex: 1 auto;
  }
}

.control{
  
}