html {
  font-family: Karla;
  font-size: 16px;
}
$green: #495e57;
$yellow: #f4ce14;
$pink: #ee9972;
$wheat: #fbdabb;
$gray: #edefee;
$black: #333;

$containerPadding: 32px;
$radius: 8px;

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 887px;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  height: 78px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $black;
    &.active {
      color: $green;
    }
  }
}

$heroSize: 300px;

.hero {
  padding: 16px 0;
  height: $heroSize;

  .content {
    padding: 24px 0;
    width: 100%;
    background-color: #495e57;
  }

  .container {
    position: relative;
  }

  .text {
    width: 50%;
    max-width: 270px;
  }

  img {
    top: 0;
    right: $containerPadding;
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 16px;
  }

  h1 {
    font-weight: normal;
    color: $yellow;
    font-size: 4rem;
  }

  h2,
  p {
    color: $gray;
    margin-bottom: 16px;
  }

  h2 {
    font-weight: normal;
    font-size: 2rem;
  }
}

.btn {
  color: #333;
  text-decoration: none;
  background-color: $yellow;
  font-weight: bold;
  border-radius: $radius;
  padding: 8px 16px;
  display: inline-block;
  box-shadow: #333 0 0 1px;

  &:hover {
    box-shadow: #333 0 0 2px;
  }

  &:active {
    box-shadow: inset #333 1px 1px 1px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Markazi Text;
}
